.leftside {
  background: linear-gradient(146.87deg, #3d0ea9 -5.64%, #262c6e 108%);
  color: white;
  width: 56.9%;
}

.leftside_heading {
  line-height: 72px;
  font-weight: 700;
  font-family: var(--font-roboto);
  font-size: 52px;
  letter-spacing: 0.46px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.leftside_para {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.46px;
  width: 444px;
}

.leftside_info {
  padding-left: 100px;
  /* padding-top: 210px; */
}

.yellow_col {
  color: #ffba28;
}

.rightside {
  background: #f5f5f5;
  width: 43.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
}

.team_heading {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.46px;
  color: #ffba28;
  padding-left: 100px;
  padding-top: 120px;
  margin-bottom: 0;
}

.hr_login {
  width: 79px;
  margin-left: 100px;
}

.team_cards {
  padding-top: 36px;
  padding-left: 100px;
  padding-bottom: 68px;
}

.rightside_logo {
  width: 230px;
  height: 175px;
}

.rightside_heading {
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.46px;
}

.input {
  background-color: white;
  height: 49px;
  width: 391px;
  border: 0.5px solid #c0c0c0;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.46;
}

.login-form-forgot {
  float: right;
  color: #3d0ea9;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  background: linear-gradient(91.71deg, #301573 -0.8%, #282a73 101.8%);
}

p a {
  color: #3d0ea9;
  margin-left: 2px;
}
