@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.teachersLoginChild {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(146.87deg, #3d0ea9, #262c6e);
  width: 729px;
  height: 832px;
}
.yourStudents {
  margin: 0;
}
.yourPride {
  margin: 0;
  color: var(--color-orange);
}
.verifyYourStudents,
.yourStudentsYourContainer {
  position: absolute;
  letter-spacing: 0.46px;
  opacity: 0;
}
.yourStudentsYourContainer {
  top: calc(50% - 140px);
  left: calc(50% - 222px);
  line-height: 72px;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.verifyYourStudents.animate,
.yourStudentsYourContainer.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.verifyYourStudents {
  top: calc(50% + 32px);
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 444px;
}
.yourStudentsYourPrideParent {
  position: absolute;
  top: calc(50% - 206px);
  left: calc(50% - 540px);
  width: 444px;
  height: 280px;
  text-align: left;
  font-size: var(--font-size-33xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.teachersLoginItem {
  position: absolute;
  top: 0;
  left: 729px;
  background-color: var(--color-whitesmoke-200);
  width: 551px;
  height: 832px;
}
.teachersDashboard {
  position: absolute;
  top: calc(50% - 309px);
  left: 79px;
  letter-spacing: 0.46px;
  line-height: 36px;
  font-weight: 500;
}
.logo011Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.anAchievementSharing {
  position: absolute;
  top: 177px;
  left: 27px;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 300;
}
.logo011Parent {
  position: absolute;
  top: 64px;
  left: 81px;
  width: 230px;
  height: 203px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.groupChild {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 368px;
  left: 0;
}
.forgotPassword,
.groupItem {
  position: absolute;
  top: calc(50% + 132px);
  left: 0;
}
.forgotPassword {
  top: calc(50% - 18px);
  letter-spacing: 0.46px;
  line-height: 36px;
}
.forgotPasswordWrapper {
  position: absolute;
  top: calc(50% + 132px);
  left: 255px;
  width: 136px;
  height: 36px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkblue-100);
  font-family: var(--font-roboto);
}
.groupInner,
.groupTextfield {
  position: absolute;
  top: 505px;
  left: 0;
}
.groupTextfield {
  border: 0;
  background-color: transparent;
  top: 295px;
}
.thankYouFor {
  position: absolute;
  top: calc(50% - 18px);
  left: 0;
  letter-spacing: 0.46px;
  line-height: 36px;
  font-weight: 500;
}
.mdicardsHeart,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}
.vectorIcon {
  height: 76.46%;
  width: 83.33%;
  top: 12.5%;
  right: 8.33%;
  bottom: 11.04%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.mdicardsHeart {
  top: 6px;
  left: 308px;
  width: 24px;
  height: 24px;
}
.teachersDashboardParent,
.thankYouForYourTimeEffoParent {
  position: absolute;
  top: calc(50% + 273px);
  left: 30px;
  width: 332px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-roboto);
}
.teachersDashboardParent {
  top: calc(50% - 309px);
  left: 809px;
  width: 391px;
  height: 618px;
  font-size: var(--font-size-5xl);
}
.meetTheTeam {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 36px;
}
.lineIcon {
  position: absolute;
  top: 39px;
  left: 117px;
  width: 79px;
  height: 1px;
  object-fit: cover;
}
.meetTheTeamParent {
  position: absolute;
  top: 576px;
  left: 100px;
  width: 196px;
  height: 40px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-orange);
  font-family: var(--font-roboto);
}
.rectangleArticle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  width: 92px;
  height: 112px;
}
.sourabhPurbia {
  position: absolute;
  top: 72px;
  left: 22px;
  letter-spacing: 0.46px;
  line-height: 16px;
  font-weight: 700;
}
.rectangleParent {
  position: absolute;
  top: 652px;
  left: 100px;
  box-shadow: 0 2px 12px rgba(25, 15, 85, 0.15);
  width: 92px;
  height: 112px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.ashishDev {
  position: absolute;
  top: 72px;
  left: 26px;
  letter-spacing: 0.46px;
  line-height: 16px;
  font-weight: 700;
}
.rectangleGroup {
  position: absolute;
  top: 652px;
  left: 208px;
  box-shadow: 0 2px 12px rgba(25, 15, 85, 0.15);
  width: 92px;
  height: 112px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.pankajKumawat {
  position: absolute;
  top: 72px;
  left: 19px;
  letter-spacing: 0.46px;
  line-height: 16px;
  font-weight: 700;
}
.rectangleContainer {
  position: absolute;
  top: 652px;
  left: 316px;
  box-shadow: 0 2px 12px rgba(25, 15, 85, 0.15);
  width: 92px;
  height: 112px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.kuldeepKatara {
  position: absolute;
  top: 72px;
  left: 23px;
  letter-spacing: 0.46px;
  line-height: 16px;
  font-weight: 700;
}
.groupAddress,
.rectangleParent1 {
  position: absolute;
  top: 652px;
  left: 424px;
  box-shadow: 0 2px 12px rgba(25, 15, 85, 0.15);
  width: 92px;
  height: 112px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.rectangleParent1 {
  left: 532px;
}
.teachersLogin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 832px;
  overflow: hidden;
}
