/* .header {
  width: 100%;
  background: linear-gradient(146.87deg, #3d0ea9 -5.64%, #262c6e 108%);
}

.logo {
    width: 284px;
    margin-left: 66px;
    margin-top: 40px;
}

.header_option{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}


.flex-container {
    display: flex;
} */