.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(146.87deg, #3d0ea9, #262c6e);
  width: 1282px;
  height: 832px;
}
.groupItem,
.main091Icon {
  position: absolute;
  top: 8px;
  left: 852px;
}
.main091Icon {
  top: 0;
  left: 0;
  width: 284px;
  height: 77px;
  object-fit: cover;
}
.contactUs,
.team {
  position: absolute;
  top: 20px;
  left: 689px;
  letter-spacing: 0.46px;
  line-height: 36px;
}
.team {
  left: 587px;
}
.groupParent {
  position: absolute;
  top: 40px;
  left: 66px;
  width: 1135px;
  height: 77px;
}
.frameWrapper,
.rectangleParent {
  position: absolute;
  top: 284px;
  left: 82px;
  width: 592px;
  height: 396px;
}
.rectangleParent {
  top: 0;
  left: -2px;
  width: 1282px;
  height: 832px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
