.team_card {
  /* background-color: white; */
  color: #000000;
  padding-right: 16px;
  position: relative;
}

.team_img {
  height: 108px;
  width: 96px;
  border-radius: 8px 8px 0 0;

}

.team_name {
  top: 72%;
  left: 25px;
  color: #f8f8f8;
  position: absolute;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.46px;
  border-radius: 0 0 8px 8px;

}
