.team_card {
  /* background-color: white; */
  color: #000000;
  padding-right: 16px;
}

.team_img {
  height: 64px;
  width: 92px;
  border-radius: 8px 8px 0 0;

}

.team_name {
  background-color: #f8f8f8;
  text-align: center;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.46px;
  border-radius: 0 0 8px 8px;

}
