.helloWelcome {
  position: absolute;
  top: calc(50% - 101px);
  left: 75px;
  letter-spacing: 0.46px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
}
.logo011Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.anAchievementSharing {
  position: absolute;
  top: 177px;
  left: 27px;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 300;
}
.logo011Parent {
  position: absolute;
  top: 0;
  left: 81px;
  width: 230px;
  height: 203px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.groupChild {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 368px;
  left: 0;
}
.forgotPassword,
.groupItem {
  position: absolute;
  top: calc(50% + 109px);
  left: 0;
}
.forgotPassword {
  top: calc(50% - 18px);
  letter-spacing: 0.46px;
  line-height: 36px;
}
.forgotPasswordWrapper {
  position: absolute;
  top: calc(50% + 109px);
  left: 255px;
  width: 136px;
  height: 36px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkblue-100);
  font-family: var(--font-roboto);
}
.groupInner {
  position: absolute;
  top: 505px;
  left: 0;
}
.groupChild1,
.lineIcon {
  top: 19px;
  width: 179px;
  height: 1px;
  object-fit: cover;
}
.lineIcon {
  position: absolute;
  left: 212px;
}
.groupChild1 {
  left: 0;
}
.groupChild1,
.lineParent,
.or {
  position: absolute;
}
.or {
  top: calc(50% - 18px);
  left: 190px;
  letter-spacing: 0.46px;
  line-height: 36px;
}
.lineParent {
  top: 582px;
  left: 0;
  width: 391px;
  height: 36px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.groupTextfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 295px;
  left: 0;
}
.createAccount {
  color: var(--color-darkblue-200);
}
.dontHaveAnContainer {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: calc(50% + 296px);
  left: 48px;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 36px;
  color: inherit;
}
.helloWelcomeBackParent {
  position: absolute;
  top: calc(50% - 332px);
  left: 809px;
  width: 391px;
  height: 664px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-roboto);
}
