.mdicloseBox {
  position: absolute;
  top: 2.25rem;
  left: 35.25rem;
  cursor: pointer;
}
.uploadYourAchievement {
  position: absolute;
  top: 6.5rem;
  left: 5.13rem;
  letter-spacing: 0.46px;
}
.upload1Child,
.upload1Item {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 13.81rem;
  left: 2.5rem;
}
.upload1Item {
  top: 19.06rem;
}
.groupChild,
.groupItem {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.groupChild {
  left: 10.63rem;
}
.groupItem {
  left: 0;
}
.groupParent {
  position: absolute;
  top: 53rem;
  left: 10.56rem;
  width: 18.75rem;
  height: 2.75rem;
}
.upload1Inner {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 24.31rem;
  left: 2.44rem;
}
.vectorIcon {
  position: absolute;
  height: 66.67%;
  width: 91.67%;
  top: 16.67%;
  right: 4.17%;
  bottom: 16.67%;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.materialSymbolscloudUpload {
  position: absolute;
  top: 1.75rem;
  left: 16.19rem;
  width: 2.63rem;
  height: 2.63rem;
  overflow: hidden;
}
.dragAndDrop {
  top: 24.46%;
  left: 33.93%;
  letter-spacing: 0.46px;
}
.dragAndDrop,
.groupInner,
.or {
  position: absolute;
}
.groupInner {
  top: -0.03rem;
  left: 0;
  border-radius: var(--br-5xs);
  border-top: 1px dashed var(--color-gray-600);
  border-right: 1px dashed var(--color-gray-600);
  border-bottom: 1px dashed var(--color-gray-600);
  box-sizing: border-box;
  width: 35.03rem;
  height: 20.5rem;
}
.or {
  top: 0;
  left: 46.15%;
  letter-spacing: 0.46px;
}
.groupChild1,
.lineIcon {
  position: absolute;
  top: 0.31rem;
  width: 3.75rem;
  height: 0.06rem;
  object-fit: cover;
}
.lineIcon {
  left: 0;
}
.groupChild1 {
  left: 6rem;
}
.orParent {
  position: absolute;
  height: 2.75%;
  width: 27.86%;
  top: 37.31%;
  right: 36.25%;
  bottom: 59.94%;
  left: 35.89%;
  font-size: var(--font-size-xs);
}
.groupInput {
  position: absolute;
  top: 9.94rem;
  left: 13.38rem;
  width: 8.13rem;
  height: 2.75rem;
}
.uploadGuidelines {
  position: absolute;
  top: 0;
  left: 7.06rem;
  letter-spacing: 0.46px;
  font-weight: 500;
}
.onlyPngJpg {
  margin: 0;
}
.onlyPngJpgContainer {
  position: absolute;
  top: 1.5rem;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 1.38rem;
  text-align: center;
}
.materialSymbolscloudUploadParent,
.uploadGuidelinesParent {
  position: absolute;
  top: 14.44rem;
  left: 6.19rem;
  width: 22.63rem;
  height: 4.25rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
.materialSymbolscloudUploadParent {
  top: 0.19rem;
  left: 0.13rem;
  width: 35rem;
  height: 20.44rem;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.frameSection {
  position: absolute;
  top: 29.88rem;
  left: 2.38rem;
  width: 35.44rem;
  height: 20.94rem;
  overflow: hidden;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-indigo-100);
  width: 9.5rem;
  height: 0.63rem;
}
.groupChild2 {
  top: 0;
  left: 20.25rem;
  background-color: var(--color-gainsboro-100);
  width: 9.5rem;
}
.groupChild2,
.groupChild3,
.rectangleParent {
  position: absolute;
  height: 0.63rem;
}
.groupChild3 {
  top: 0;
  left: 10.13rem;
  background-color: var(--color-gainsboro-100);
  width: 9.5rem;
}
.rectangleParent {
  top: 10.69rem;
  left: 5.13rem;
  width: 29.75rem;
}
.upload1 {
  position: relative;
  background-color: var(--color-white);
  width: 40rem;
  height: 64rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
